/* ****************************
************** Root ***********
*******************************/

:root {
    --ls-font-family: "Inter";
    --ls-main-content-max-width: 1000px;
    --ls-main-content-max-width-wide: 1280px;
    --ls-page-text-size: 1em;
    --ls-page-title-size: 26px;
    --ls-tag-text-opacity: 0.8;
    --ls-tag-text-hover-opacity: 1;
    --ls-block-bullet-threading-width-overwrite: 2px;
    --ls-block-bullet-active-color-overwrite: var(--ls-link-text-color);
    --code-font-family: "Hack", monospace;
    --ct-h1-color: #9FCCB3;
    --ct-h1-border: 1px solid var(--ls-border-color);
    --ct-h2-color: #E1B493;
    --ct-h2-border: 1px solid var(--ls-border-color);
    --ct-h3-color: #DDA6E0;
    --ct-h3-border: 1px solid var(--ls-border-color);
}

@import 'colors.scss';
@import 'theme.scss';
@import 'code-mirror.scss';
@import 'block-refs.scss';
@import 'header-labels.scss';
@import 'tasks.scss';
@import 'admonition-blocks.scss';
@import 'page-prop-icons.scss';


html[data-theme="dark"] {
    #right-sidebar-container {
        background: #21252B;
    }
}