/* property icons */
.page-property-key::before {
    content: "\eabc";
    font-family: 'tabler-icons';

    padding-right: 4px;

    color: var(--ls-primary-text-color);
    opacity: .8;
}

.page-property-key[data-ref|="tags"]::before        { content: "\ef86" }
.page-property-key[data-ref|="alias"]::before       { content: "\eef7" }
.page-property-key[data-ref|="file"]::before        { content: "\eb02" }
.page-property-key[data-ref|="template"]::before    { content: "\eb39" }
.page-property-key[data-ref|="tag"]::before,
.page-property-key[data-ref|="label"]::before       { content: "\ef86" }
.page-property-key[data-ref|="ref"]::before,
.page-property-key[data-ref|="reference"]::before,
.page-property-key[data-ref|="source"]::before      { content: "\eb54" }
.page-property-key[data-ref|="author"]::before,
.page-property-key[data-ref|="creator"]::before,
.page-property-key[data-ref|="leading"]::before     { content: "\eee0" }
.page-property-key[data-ref|="owner"]::before,
.page-property-key[data-ref|="assignee"]::before,
.page-property-key[data-ref|="who"]::before         { content: "\ea2b" }
.page-property-key[data-ref|="state"]::before,
.page-property-key[data-ref|="status"]::before      { content: "\f3b0" }
.page-property-key[data-ref|="date"]::before,
.page-property-key[data-ref|="start"]::before,
.page-property-key[data-ref|="end"]::before,
.page-property-key[data-ref|="day"]::before,
.page-property-key[data-ref|="week"]::before,
.page-property-key[data-ref|="month"]::before,
.page-property-key[data-ref|="year"]::before,
.page-property-key[data-ref|="when"]::before        { content: "\ea53" }
.page-property-key[data-ref|="related"]::before     { content: "\eb21" }
.page-property-key[data-ref|="url"]::before,
.page-property-key[data-ref|="link"]::before        { content: "\eade" }
.page-property-key[data-ref|="color"]::before       { content: "\eb01" }
.page-property-key[data-ref|="text"]::before,
.page-property-key[data-ref|="summary"]::before,
.page-property-key[data-ref|="description"]::before { content: "\ea08" }
.page-property-key[data-ref|="comment"]::before,
.page-property-key[data-ref|="note"]::before        { content: "\eb6d" }
.page-property-key[data-ref|="category"]::before    { content: "\ea45" }
.page-property-key[data-ref|="topic"]::before       { content: "\f06c" }
.page-property-key[data-ref|="area"]::before        { content: "\eeae" }
.page-property-key[data-ref|="price"]::before       { content: "\eb85" }
.page-property-key[data-ref|="duration"]::before    { content: "\f146" }
.page-property-key[data-ref|="time"]::before        { content: "\ea70" }
.page-property-key[data-ref|="rating"]::before      { content: "\eb2e" }
.page-property-key[data-ref|="location"]::before,
.page-property-key[data-ref|="place"]::before,
.page-property-key[data-ref|="where"]::before       { content: "\eae8" }
.page-property-key[data-ref|="format"]::before      { content: "\eebd" }
.page-property-key[data-ref|="type"]::before        { content: "\eaba" }
.page-property-key[data-ref|="size"]::before,
.page-property-key[data-ref|="width"]::before,
.page-property-key[data-ref|="height"]::before,
.page-property-key[data-ref|="quantity"]::before,
.page-property-key[data-ref|="count"]::before,
.page-property-key[data-ref|="level"]::before       { content: "\f015" }
.page-property-key[data-ref|="isbn"]::before,
.page-property-key[data-ref|="page"]::before,
.page-property-key[data-ref|="version"]::before,
.page-property-key[data-ref|="number"]::before      { content: "\f1fe" }
.page-property-key[data-ref|="task"]::before,
.page-property-key[data-ref|="issue"]::before       { content: "\eba6" }
.page-property-key[data-ref|="project"]::before     { content: "\edba" }
.page-property-key[data-ref|="health"]::before      { content: "\ef92" }
.page-property-key[data-ref|="cardio"]::before,
.page-property-key[data-ref|="activity"]::before    { content: "\ed23" }
.page-property-key[data-ref|="steps"]::before       { content: "\f015" }
.page-property-key[data-ref|="fitness"]::before,
.page-property-key[data-ref|="workout"]::before     { content: "\eff0" }
.page-property-key[data-ref|="stretching"]::before,
.page-property-key[data-ref|="exercise"]::before    { content: "\f2db" }
.page-property-key[data-ref|="yoga"]::before        { content: "\f01f" }
.page-property-key[data-ref|="walk"]::before        { content: "\ec87" }
.page-property-key[data-ref|="run"]::before         { content: "\ec82" }
.page-property-key[data-ref|="rest"]::before        { content: "\eb5c" }
.page-property-key[data-ref|="sleep"]::before       { content: "\f228" }
.page-property-key[data-ref|="equipment"]::before   { content: "\f1ce" }
.page-property-key[data-ref|="reps"]::before,
.page-property-key[data-ref|="repeat"]::before,
.page-property-key[data-ref|="repetitions"]::before { content: "\eb72" }
.page-property-key[data-ref|="measure"]::before,
.page-property-key[data-ref|="measurement"]::before { content: "\f291" }
.page-property-key[data-ref|="scale"]::before,
.page-property-key[data-ref|="weight"]::before      { content: "\ef53" }
.page-property-key[data-ref|="recipe"]::before      { content: "\f21d" }
.page-property-key[data-ref|="eat"]::before         { content: "\eeff" }
.page-property-key[data-ref|="food"]::before        { content: "\eeff" }
.page-property-key[data-ref|="nutrition"]::before   { content: "\eeff" }
.page-property-key[data-ref|="calories"]::before    { content: "\ea38" }
.page-property-key[data-ref|="water"]::before       { content: "\ea97" }
.page-property-key[data-ref|="coffee"]::before      { content: "\ef0e" }
.page-property-key[data-ref|="alcohol"]::before     { content: "\eab7" }
.page-property-key[data-ref|="cigarette"]::before   { content: "\ecc4" }
.page-property-key[data-ref|="formula"]::before     { content: "\eb9f" }
.page-property-key[data-ref|="function"]::before    { content: "\eeb2" }
.page-property-key[data-ref|="percent"]::before,
.page-property-key[data-ref|="percentage"]::before  { content: "\ecf4" }
.page-property-key[data-ref|="total"]::before,
.page-property-key[data-ref|="sum"]::before,
.page-property-key[data-ref|="amount"]::before      { content: "\eb73" }
.page-property-key[data-ref|="chart"]::before       { content: "\ea59" }
.page-property-key[data-ref|="progress"]::before    { content: "\eb43" }
.page-property-key[data-ref|="metric"]::before      { content: "\eed2" }
.page-property-key[data-ref|="criteria"]::before    { content: "\ebc2" }
.page-property-key[data-ref|="timeline"]::before    { content: "\ee2a" }
.page-property-key[data-ref|="set"]::before         { content: "\ee92" }
.page-property-key[data-ref|="asc"]::before,
.page-property-key[data-ref|="ascending"]::before   { content: "\ef19" }
.page-property-key[data-ref|="desc"]::before,
.page-property-key[data-ref|="descending"]::before  { content: "\ef1b" }
.page-property-key[data-ref|="block"]::before       { content: "\eb92" }
.page-property-key[data-ref|="footprint"]::before,
.page-property-key[data-ref|="fingerprint"]::before { content: "\ebd1" }
.page-property-key[data-ref|="section"]::before,
.page-property-key[data-ref|="chapter"]::before,
.page-property-key[data-ref|="paragraph"]::before   { content: "\f019" }
.page-property-key[data-ref|="qr"]::before,
.page-property-key[data-ref|="qrcode"]::before      { content: "\eb11" }
.page-property-key[data-ref|="code"]::before        { content: "\ea77" }
.page-property-key[data-ref|="script"]::before      { content: "\f2da" }
.page-property-key[data-ref|="arg"]::before,
.page-property-key[data-ref|="param"]::before       { content: "\eb8d" }
.page-property-key[data-ref|="plugin"]::before      { content: "\ebd9" }